<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>no.</th>
                <th>title</th>
                <th>date</th>
            </tr>
        </thead>

        <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                </td>
                <td>{{ question.create_day }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">no questinos</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>